# MongoDB Configuration
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/
DB_NAME=anime_db

# CORS Configuration
CORS_ORIGINS=http://localhost:3000,https://your-domain.vercel.app

# Kodik API (уже есть в коде)
KODIK_TOKEN=54eb773d434f45f4c9bb462bc3ce0342 